<poke-header></poke-header>
<main>
    <section>
        <h2>¿Por qué hicimos este proyecto?</h2>
        <p>Este proyecto nace como una iniciativa de un grupo de estudiantes apasionados por el mundo de Pokémon y por
            la tecnología. Quería poner en práctica mi conocimiento en Angular y en consumo de APIs, al mismo
            tiempo que creamos algo que pueda ser útil y entretenido para los demás fanáticos de Pokémon.</p>
    </section>
    <section>
        <h2>El creador</h2>
        <img src="https://via.placeholder.com/200" alt="Foto del creador">
        <p>Soy Fran, un estudiante que le encanta el desarrollo web. He sido
            fan de Pokémon desde que era un niño y siempre he querido crear algo relacionado con este mundo. Si quieres
            saber más sobre mí y mis proyectos, visita mi GitLab:</p>
        <ul>
            <li><a href="https://gitlab.com/usuario1">GitLab de Fran</a></li>
        </ul>
    </section>
    <section>
        <h2>Agradecimientos</h2>
        <p>Queremos agradecer a la comunidad de desarrolladores que ha creado y mantenido la API de Pokémon que estamos
            utilizando en este proyecto, así como a los demás desarrolladores que han creado librerías y herramientas
            que nos han facilitado el trabajo. También queremos agradecer a nuestros profesores y compañeros de clase
            que nos han enseñado y apoyado en este proyecto.</p>
    </section>
    <section>
        <h2>¡Algo divertido!</h2>
        <p>¿Sabías que el Pokémon más pequeño es Joltik, con una altura de tan solo 0.1 metros? ¡Y el más grande es
            Wailord, con una altura de 14.5 metros! Eso es más alto que un edificio de 5 pisos.</p>
    </section>
</main>
<app-footer></app-footer>