<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Pokedex - Proyecto 2023</p>
            </div>
            <div class="col-md-6">
                <ul class="footer-menu">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/list">List</a></li>
                    <li><a routerLink="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>