<poke-header></poke-header>
<main >
  <h2>¿Que es una pokedex?</h2>
  <p>Una pokedex es un aparato que permite almacenar y consultar información sobre los Pokémon. En la mayoría de los casos, también permite a los entrenadores capturar Pokémon.</p>
  <img routerLink="/list" src="assets/pokedex.png" alt="" srcset="">
  <h2>¿Que es un Pokémon?</h2>
  <p>Los Pokémon son criaturas que viven en el mundo de Pokémon. Hay más de 800 especies diferentes de Pokémon, y cada una tiene sus propias características únicas. Los Pokémon pueden ser de diferentes tipos, como agua, fuego, hierba, etc. Cada Pokémon tiene un nombre, un número de identificación, una altura, un peso, una imagen, una descripción, etc.</p>
  <h2>¿Como funciona nuestra web</h2>
  <p>En nuestra web podras encontrar una lista de los 25 primeros pokemon, con su imagen, nombre, numero de identificacion y tipo. Tambien podras ver la informacion de cada pokemon en una pagina individual.</p>
  <h2>¿Como capturar un pokemon?</h2>
  <p>Para capturar un pokemon, debes ir a la pagina de listado, y hacer click en el boton de capturar. Una vez capturado, el pokemon aparecera en la pagina de capturados.</p>
  <h2>Prueba aquí: </h2>
  <poke-list></poke-list>
</main>
<app-footer></app-footer>